
.img {
  display: block;
  padding: 10px;
  background-color: #313030;
  border-radius: 4px;
  width: 100%;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px){
  .img {
    width: 60%;
    
  }
}




