.separator {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}
.separator::before {
  margin-right: 0.25em;
}
.separator::after {
  margin-left: 0.25em;
}

/* .equipmentList {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  justify-content: space-around;
}

.wandler {
  justify-content: center;
} */

.img {
  display: block;
  padding: 10px;
  background-color: #313030;
  border-radius: 4px;
  width: 100%;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px){
  .img {
    width: 60%;
    
  }
}




