.separator {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}
.separator::before {
  margin-right: 0.25em;
}
.separator::after {
  margin-left: 0.25em;
}

/* .equipmentList {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  justify-content: space-around;
}

.wandler {
  justify-content: center;
} */

.img {
  padding: 20px;

  height: 55vw;
  width: 100%;
  opacity: 0.95;
  border: 1px #313030;
  border-radius: 4px;
  background-color: #313030;
}




@media (max-width: 768px) {
  .img {
      height: auto;
  }
}


