.separator {
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}


.card {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    color: rgb(34, 34, 34);
    
}


.img {
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.button {
    background-color: #ac4034;
    border: none;
}

.title {
    font-weight: 700;
    
}



