.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    
}

.card1 {
    border-radius: 20px;
    background-color: #d49520;
    
}

.card2 {
    border-radius: 20px;
    background-color: #d49520;
}

.card3 {
    border-radius: 20px;
    background-color: #d49520;
}

.img {
    border-radius: 20px;
}



