.maph2 {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 20px;
    padding-left: 10px;
    text-align: center;
  }
  
  .googleMap {
    width: 100%;
    height: 60vh;
  }
  
  .pin {
    display: flex;
    align-items: center;
    width: 180px;
    color: var(--main-blue);
    transform: none;
  }
  
  .pinIcon {
    font-size: 4rem;
    transform: translate(-50%, -50%);
  }
  
  .pinText {
    font-size: 1.3em;
    font-weight: bold;
    color: #ac4034;
    border: solid;
    background-color: aliceblue; 
  }
  
  @media screen and (min-width: 799px) {
    .googleMap {
      height: 80vh;
    }
  
    .maph2 {
      font-size: 1.3rem;
      font-weight: 400;
    }
  
    .pin {
      width: 15vw;
    }
  
    .pinIcon {
      font-size: 10vw;
    }
  }