.navbar {
  display: flex;
  justify-content: space-between;
  justify-items: baseline;
  background-color: #343a40;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navContent {
  
  white-space: nowrap;
  transition: all 0.5s;
  cursor: pointer;

  color: #ffffff;
}



@media only screen and (max-width: 768px) {
  .navTitle {
    margin-left: auto !important;
  }
}
