html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
    sans-serif;
  background-color: #f0efeb;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
}


@media only screen and (max-width: 320px) {
  body {
    font-size: 2em;
    scroll-behavior: smooth;
  }
}

/* add @media for all devices */
