.separator {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

.card {
    max-width: 255;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 50px;
    padding-top: 50px;
   
}

.pos {
    margin-bottom: 12;
}

.cardStyle {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    
    
}

