

.card {
    max-width: 255;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: -200px;
}

.pos {
    margin-bottom: 12;
}

.cardStyle {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    margin: 10px;
}



.button:link {
    text-decoration: none;
}

.pricing {
    display: flex;
    flex-direction: column;
}

.img {
    height: 55vw;
    width: 100%;
}

@media (max-width: 768px) {
    .card {
      padding-top: 130px;
    }
    .img {
        height: auto;
    }
  }





  